{% extends "base.html" %}
{% block content %}

{% if not session["logged_in"]: %} <!--if not logged in-->
<div class="box">
	<h1>FlyThru</h1>

  <a href="{{ url_for('login') }}" class="btn btn-primary btn-block btn-large">Login</a>
  <a href="{{ url_for('register') }}" class="btn btn-secondary btn-block btn-large">Register</a>

</div>

{% elif session["merchant_id"] == None: %} <!--if no menu items-->

<div class="box">
	<h1>FlyThru</h1>

  <p>Please go to the account page to import your menu items</p>
  <a href="{{ url_for('account') }}" class="btn btn-primary btn-block btn-large">Account</a>

</div>

{% else %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/chat_styles.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/animation.css')}}">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Ultra&display=swap" rel="stylesheet">

<div style="display: flex; justify-content: center; height:87%;">
<div class="chat-container">
    
    <a id="mode" href="#" onclick="order()" class="btn btn-primary btn-block btn-large">Start</a>

  <div class="chat" id="conversation" style="overflow-y: scroll;"></div>

  <div id="system-response" class="user-input">
    <!-- <div class="loading-wrapper">
      <div class="loading">
        <div class="dot dot1"></div>
        <div class="dot dot2"></div>
        <div class="dot dot3"></div>
      </div>
        <p style="margin-left: 10px; font-size: 17px;">loading...</p>
    </div> -->
  </div>
  <button id="system-message" style="width:100%; background-color: grey;">Not Started</button>
</div>

<div class="chat-container">
  <div class="chat" id="items">
    </div>
    <div class="user-input">
      <button id="amount" style="width:100%;">Total Amount: RM 0.00</button>
    </div>
  </div>
</div>

<script>
  function iconLoading(){
  return `
    <div class="loading-wrapper">
      <div class="loading">
        <div class="dot dot1"></div>
        <div class="dot dot2"></div>
        <div class="dot dot3"></div>
      </div>
        <p style="margin-left: 10px; font-size: 17px;">loading...</p>
    </div>
  `
  }
  
  function iconMicrophone(){
    return `
      <div class="loading-wrapper">
        <div style="
        margin-inline: 20px;
        display: flex;
        justify-content: center;
        ">
          <div class="pulse-ring"></div>
          <i class="fa fa-microphone" aria-hidden="true"></i>
        </div>
        
        <p style="margin-left: 10px; font-size: 17px;">Listening: Please speak into the microphone.</p>
      </div>
    `
  }
  
  console.log(window.location.href)
  if(window.location.pathname == "/ordering") {
    mode.innerHTML = "Stop";
    document.getElementById('system-message').innerHTML = "Initializing"
    document.getElementById('system-message').style.backgroundColor = "grey"
    document.getElementById('system-response').innerHTML = iconLoading()

    document.getElementById("conversation").innerHTML = ``
    document.getElementById("items").innerHTML = ``
    document.getElementById("amount").innerHTML = `Total Amount: RM 0.00`

    fetch('/ready_order')
    fetch(fetchOrderData) // Call fetchOrderData initially
    setInterval(fetchOrderData, 1500) // Set up a timer to call fetchOrderData every second
  }

  function scrollToBottom(id) {
    var chatContainer = document.getElementById(id);
    chatContainer.scrollTop = chatContainer.scrollHeight;
  }
  
  function order() {
    var mode = document.getElementById('mode');
    
    if (mode.innerHTML == "Start") {
      start_order();
      mode.innerHTML = "Stop";
    } else {
      stop_order();
      mode.innerHTML = "Start";
    }
  }
  
  function stop_order(){
    window.location.href = "/end_order"
  }

  function start_order() {
    document.getElementById('system-message').innerHTML = "Creating Order"
    document.getElementById('system-response').innerHTML = iconLoading();
    window.location.href = "/initiate_order" // jumps to /ordering
  }

  // Function to fetch the JSON data from the server
  function fetchOrderData() {

    // Make an AJAX request to your server
    fetch('/update_display')
        .then(response => response.json())
        .then(data => {
            console.log('Received JSON data:', data);

            // CONVERSATION: Iterate through the 'context' array
            var conversation = ``;
            for (let i = 0; i < data.context.length; i++) {
              var role = data.context[i].role;
              var content = data.context[i].content;
              content = content.replace(/\n/g, "<br>") // replace to new line

              if (role === "user"){
                conversation += `
                <div class = "chat-blob">
                  <svg width="6%" height="40" style = "margin-top: 10px" >
                    <g filter="url(#filter0_d_133_30)">
                      <circle cx="20" cy="20" r="18" fill="white" stroke="#061C29" stroke-width="2"/>
                      <image href="/icon/person_google.png" width="20" x=10 y=10 />
                    </g>
                  </svg>
                
                  <div class="message sent">
                    <p>${content}</p>
                  </div>
                </div>`
                 
                 document.getElementById('system-message').innerHTML = "Please wait. Processing response"
                 document.getElementById('system-message').style.backgroundColor = "grey";
                 document.getElementById('system-response').innerHTML = iconLoading();
              }
              else if (role === "assistant"){
                conversation += `
                <div class = "chat-blob">
                  <svg width="6%" height="40" style = "margin-top: 10px" >
                    <g>
                      <circle cx="20" cy="20" r="20" fill="#061C29"/>
                      <image href="/icon/icons8-chatbot-24.png" width="20" x=10 y=10 />
                    </g>
                  </svg>

                  <div class="message received">
                    <p>${content}</p>
                  </div>
                </div>`
                 
                 document.getElementById('system-message').innerHTML = "Please wait. Processing response"
                 document.getElementById('system-message').style.backgroundColor = "grey";
                 document.getElementById('system-response').innerHTML = iconLoading();
              }
              else { //system listening
                document.getElementById('system-message').innerHTML = content
                document.getElementById('system-message').style.backgroundColor = "#007bff";
                document.getElementById('system-response').innerHTML = iconMicrophone();
              }
            }

            document.getElementById("conversation").innerHTML = conversation;
            scrollToBottom("conversation");


            // ITEMS: Iterate through the 'items' array
            var items = ``;
            if(data.items.length > 0){
            for (let i = 0; i < data.items.length; i++) {
              var itemName = data.items[i].itemName;
              var itemPrice = data.items[i].itemPrice;
              var quantity = data.items[i].quantity;
              var imgHref = data.items[i].imgHref;
              var customizations = data.items[i].customizations;
              var itemAmount = data.items[i].itemAmount;
              var totalAmount = data.totalAmount;
              
              items += `
              <div class = "chat-blob">
                <svg width="6%" height="40" style = "align-self: center" >
                  <g>
                    <circle cx="20" cy="20" r="20" fill="#992800"/>
                    <text style="font-size:16px; font-family: 'Ultra', serif;" fill="white" x="20" y="21.27" dominant-baseline="middle" text-anchor="middle">${quantity}</text>
                  </g>
                </svg>

                <img src="${imgHref}">
                <div class="message sent" style="justify-content: space-between; width: 74%">
                  <b><p style="text-align: left; margin: 0;">${itemName}</p></b>
                  <b><span class="time" style="text-align: right; display:block">${itemPrice}</span></b>`
              
              if (customizations.length != 0){
                items += `<div id="customizations" style="justify-content: space-between; text-align: right;">`
              
              for (let c=0; c < customizations.length; c++){
                items += `
                  <div class="customizations">
                    <p style="margin: 0;"><b>${customizations[c].itemType}</b> : ${customizations[c].itemName}</p>
                    <span class="time" style="text-align: right;">${customizations[c].price}</span>
                  </div>`
              }

                items += `</div>`
              }

              if (itemAmount == undefined){
                items += `
                <b><span class="time" style="text-align: right; color:black; display:block; margin-top: 10px; font-size: 16px;">${totalAmount}</span></b>
              </div>
            </div>`
              } else{
              items += `
                <b><span class="time" style="text-align: right; color:black; display:block; margin-top: 10px; font-size: 16px;">${itemAmount}</span></b>
              </div>
            </div>`
              }
            }
            document.getElementById("items").innerHTML = items;
            document.getElementById("amount").innerHTML = `Total Amount: RM ${totalAmount}`;
            }
            scrollToBottom("items");
        })
        .catch(error => {
            console.error('Error fetching JSON data:', error);
        });
  }

  function ordering(){
    fetch('/initiate_order')
    .then(response => response.json())
    .then(data => {
        // Handle the JSON data here (update your UI, etc.)
        console.log('Received JSON data:', data);
    })
    .catch(error => {
        console.error('Error fetching JSON data:', error);
    });

    fetch(fetchOrderData) // Call fetchOrderData initially
    setInterval(fetchOrderData, 2000) // Set up a timer to call fetchOrderData every 2 seconds (2000 milliseconds)
  }
</script>

{% endif %}

{% endblock %}